input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important;
    -webkit-text-fill-color: #000 !important;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background: #99c0ff;
}
::-webkit-scrollbar-thumb {
    background-color: #E25483;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
    border-color: #E8769C;
    background: #E8769C;
    border-radius: 20px;
}